* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: deepskyblue;
    width: 100%;
}
p {
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}
.bigtext {
    font-size: 30px;
}
.normaltext {
    font-size: 20px;
}
.smalltext {
    font-size: 15px;
}
.row {
    height: 100%;
    padding: 0px;
    margin: 0px;
    clear: both;
}
.main-info {
    width: 35%;
    height: 100%;
    margin: 0px;
    background-color: dodgerblue;
    text-align: center;
    padding-top: 50px;
    float: left;
}
.additional-info {
    width: 65%;
    height: 100%;
    padding: 50px;
    margin: 0px;
    float: left;
}
.social-network {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Verdana;
}
.description {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
}
.section {
    margin-bottom: 30px;
}
.link {
    text-decoration: none;
    color: black;
}